[Desktop Entry]
Name=Ollama
Type=Application
Exec=cosmic-ext-applet-ollama
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
Icon=dev.heppen.ollama-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
